<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.config.log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <connectionStrings>
    <add name="oesConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=OES;Integrated Security=True"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true"/>
  </system.web>
  <system.serviceModel>
    <services>
      <!--<service name="WcfService.ExamService">
        <endpoint address="" binding="wsHttpBinding" contract="WcfService.IExamService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8732/WcfService/ExamService"/>
          </baseAddresses>
        </host>
      </service>-->
      <service name="WcfService.UserService">
        <endpoint address="" binding="wsHttpBinding" contract="WcfService.IUserService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8732/WcfService/UserService"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="False"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
