<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>mvc</display-name>
  <welcome-file-list>
    <welcome-file>login.action</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <description></description>
    <display-name>DispatcherServlet</display-name>
    <servlet-name>DispatcherServlet</servlet-name>
    <servlet-class>com.augmentum.oes.servelt.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>suffix</param-name>
      <param-value>.action</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>DispatcherServlet</servlet-name>
    <url-pattern>*.action</url-pattern>
  </servlet-mapping>
  
  <filter>
    <display-name>SessionFilter</display-name>
    <filter-name>SessionFilter</filter-name>
    <filter-class>com.augmentum.oes.filter.SessionFilter</filter-class>
    <init-param>
      <param-name>notNeedLoginPage</param-name>
      <param-value>,login.action,saveLogin.action</param-value>
    </init-param>
  </filter>
  
  <filter-mapping>
    <filter-name>SessionFilter</filter-name>
    <url-pattern>*.action</url-pattern>
  </filter-mapping>
  
  <filter>
    <filter-name>encode</filter-name>
    <filter-class>com.augmentum.oes.filter.EncodeFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>encode</filter-name>
    <url-pattern>*.action</url-pattern>
  </filter-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/404.html</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/500.html</location>
  </error-page>
  <filter>
    <display-name>AppContextFilter</display-name>
    <filter-name>AppContextFilter</filter-name>
    <filter-class>com.augmentum.oes.filter.AppContextFilter</filter-class>
  </filter>
 <filter-mapping>
    <filter-name>AppContextFilter</filter-name>
    <url-pattern>*.action</url-pattern>
  </filter-mapping>
</web-app>