USE [oes]
GO
/****** Object:  Table [dbo].[exam_question]    Script Date: 01/04/2017 22:11:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[exam_question](
	[question_id] [int] NOT NULL,
	[exam_id] [int] NOT NULL
) ON [PRIMARY]
GO
UPDATE STATISTICS [dbo].[exam_question] WITH ROWCOUNT = 13, PAGECOUNT = 1
GO
CREATE STATISTICS [_WA_Sys_00000001_2B3F6F97] ON [dbo].[exam_question]([question_id]) WITH STATS_STREAM = 0x010000000100000000000000000000004DF1840600000000CB010000000000008B01000000000000380300003800000004000A000000000000000000030000000700000098414E01E1A6000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000803F00000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000001F0000000000000027000000000000000800000000000000100014000000803F000000000000803F010000000400000100000000000000
GO
CREATE STATISTICS [_WA_Sys_00000002_2B3F6F97] ON [dbo].[exam_question]([exam_id]) WITH STATS_STREAM = 0x01000000010000000000000000000000289A2CDB00000000CB010000000000008B01000000000000380300003800000004000A00000000000000000003000000070000008A414E01E1A6000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000803F00000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000001F0000000000000027000000000000000800000000000000100014000000803F000000000000803F020000000400000100000000000000
GO
INSERT [dbo].[exam_question] ([question_id], [exam_id]) VALUES (1, 2)
INSERT [dbo].[exam_question] ([question_id], [exam_id]) VALUES (2, 2)
INSERT [dbo].[exam_question] ([question_id], [exam_id]) VALUES (3, 2)
/****** Object:  Table [dbo].[exam]    Script Date: 01/04/2017 22:11:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[exam](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[exam_id] [varchar](100) NULL,
	[title] [varchar](200) NOT NULL,
	[create_time] [datetime] NOT NULL,
	[start_time] [datetime] NOT NULL,
	[duration_time] [int] NOT NULL,
	[total_score] [int] NULL,
	[pass_score] [int] NULL,
	[sigle_score] [int] NULL,
	[question_quantity] [int] NULL,
	[create_user] [int] NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
UPDATE STATISTICS [dbo].[exam] WITH ROWCOUNT = 12, PAGECOUNT = 1
GO
CREATE STATISTICS [_WA_Sys_00000001_117F9D94] ON [dbo].[exam]([id]) WITH STATS_STREAM = 0x010000000100000000000000000000008A2B19AE000000000902000000000000C901000000000000380365003800000004000A000000000000000000750070000700000018E06801DDA60000040000000000000004000000000000000000803F0000803E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000003000000030000000100000014000000000080400000804000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000005D00000000000000650000000000000018000000000000002F000000000000004600000000000000100014000000803F000000000000803F01000000040000100014000000803F0000803F0000803F03000000040000100014000000803F000000000000803F040000000400000400000000000000
GO
CREATE STATISTICS [_WA_Sys_00000002_117F9D94] ON [dbo].[exam]([exam_id]) WITH STATS_STREAM = 0x010000000100000000000000000000006B573881000000004C020000000000000C02000000000000A7020000A7000000640000000000000024D00000000000000700000064896801DDA60000030000000000000003000000000000000000803FABAAAA3E0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000020000000200000001000000100000000000E04000004040000000000000E0400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130000000000000000000000000000004C000000000000009800000000000000A00000000000000010000000000000002E00000000000000300010000000803F000000000000803F04000001001E0045303030303031300010000000803F0000803F0000803F04000001001E0045303030303033FF0100000000000000030000000300000028000000280000000000000000000000090000004530303030303132330500000040000000004006000000810106000081010700000101080000000300000000000000
GO
CREATE STATISTICS [_WA_Sys_00000003_117F9D94] ON [dbo].[exam]([title]) WITH STATS_STREAM = 0x010000000100000000000000000000007FDF0D1F000000003102000000000000F101000000000000A7033881A7000000C80000000000000024D00000000000000700000064896801DDA6000003000000000000000300000000000000000000000000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000100000001000000100000000000A84100004040000000000000A84100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001300000000000000000000000000000034000000000000007D00000000000000850000000000000008000000000000003000100000004040000000000000803F04000001002C00706572666F726D616E63652054657374206F6E6C79FF010000000000000003000000010000002800000028000000000000000000000015000000706572666F726D616E63652054657374206F6E6C790200000040000000000315000000000300000000000000
GO
CREATE STATISTICS [_WA_Sys_00000004_117F9D94] ON [dbo].[exam]([create_time]) WITH STATS_STREAM = 0x0100000001000000000000000000000005AA899900000000F201000000000000B2010000000000003D035F003D0000000800170300000000000000001800C817070000005F896801DDA6000003000000000000000300000000000000000000000000003F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000020000000200000001000000180000000000004100004040000000000000004100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001100000000000000000000000000000046000000000000004E0000000000000010000000000000002B00000000000000100018000000803F000000000000803F5BA26701DDA600000400001000180000000040000000000000803FE52B6801DDA600000400000300000000000000
GO
CREATE STATISTICS [_WA_Sys_00000005_117F9D94] ON [dbo].[exam]([start_time]) WITH STATS_STREAM = 0x01000000010000000000000000000000181524CF00000000F201000000000000B2010000000000003D035F003D0000000800170300000000000000001800C817070000005F896801DDA6000003000000000000000300000000000000000000000000003F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000020000000200000001000000180000000000004100004040000000000000004100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001100000000000000000000000000000046000000000000004E0000000000000010000000000000002B00000000000000100018000000803F000000000000803F6BF26701DDA600000400001000180000000040000000000000803F2B6D7801DDA600000400000300000000000000
GO
CREATE STATISTICS [_WA_Sys_00000006_117F9D94] ON [dbo].[exam]([duration_time]) WITH STATS_STREAM = 0x01000000010000000000000000000000EBE43EB600000000EA01000000000000AA01000000000000380300003800000004000A00000000000000000000000000070000005F896801DDA6000003000000000000000300000000000000000000000000003F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000020000000100000014000000000080400000404000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000003E00000000000000460000000000000010000000000000002700000000000000100014000000803F000000000000803F3C0000000400001000140000000040000000000000803F780000000400000300000000000000
GO
CREATE STATISTICS [_WA_Sys_00000007_117F9D94] ON [dbo].[exam]([total_score]) WITH STATS_STREAM = 0x010000000100000000000000000000008D6728AE00000000CB010000000000008B01000000000000380200003800000004000A00000000000000000000000000070000005F896801DDA6000003000000000000000300000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000404000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000001F00000000000000270000000000000008000000000000001000140000004040000000000000803F640000000400000300000000000000
GO
CREATE STATISTICS [_WA_Sys_00000008_117F9D94] ON [dbo].[exam]([pass_score]) WITH STATS_STREAM = 0x01000000010000000000000000000000384F38EF00000000CB010000000000008B01000000000000380200003800000004000A00000000000000000000000000070000005F896801DDA6000003000000000000000300000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000404000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000001F00000000000000270000000000000008000000000000001000140000004040000000000000803F3C0000000400000300000000000000
GO
CREATE STATISTICS [_WA_Sys_00000009_117F9D94] ON [dbo].[exam]([sigle_score]) WITH STATS_STREAM = 0x01000000010000000000000000000000F2CFD91900000000EA01000000000000AA01000000000000380200003800000004000A00000000000000000000000000070000005F896801DDA6000003000000000000000300000000000000000000000000003F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000020000000100000014000000000080400000404000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000003E000000000000004600000000000000100000000000000027000000000000001000140000000040000000000000803F0A000000040000100014000000803F000000000000803F190000000400000300000000000000
GO
CREATE STATISTICS [_WA_Sys_0000000A_117F9D94] ON [dbo].[exam]([question_quantity]) WITH STATS_STREAM = 0x010000000100000000000000000000003DB9E18F00000000EA01000000000000AA01000000000000380200003800000004000A00000000000000000000000000070000005F896801DDA6000003000000000000000300000000000000000000000000003F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000020000000100000014000000000080400000404000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000003E00000000000000460000000000000010000000000000002700000000000000100014000000803F000000000000803F040000000400001000140000000040000000000000803F0A0000000400000300000000000000
GO
CREATE STATISTICS [_WA_Sys_0000000B_117F9D94] ON [dbo].[exam]([create_user]) WITH STATS_STREAM = 0x010000000100000000000000000000001362E74800000000CB010000000000008B01000000000000380300003800000004000A00000000000000000000000000070000005F896801DDA6000003000000000000000300000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000404000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000001F00000000000000270000000000000008000000000000001000140000004040000000000000803F020000000400000300000000000000
GO
SET IDENTITY_INSERT [dbo].[exam] ON
INSERT [dbo].[exam] ([id], [exam_id], [title], [create_time], [start_time], [duration_time], [total_score], [pass_score], [sigle_score], [question_quantity], [create_user]) VALUES (1, N'E000001', N'performance Test only', CAST(0x0000A6DD0167A25B AS DateTime), CAST(0x0000A6DD0167F26B AS DateTime), 120, 100, 60, 20, 5, 2)
INSERT [dbo].[exam] ([id], [exam_id], [title], [create_time], [start_time], [duration_time], [total_score], [pass_score], [sigle_score], [question_quantity], [create_user]) VALUES (2, N'E000002', N'performance Test only', CAST(0x0000A6EE0163C6E5 AS DateTime), CAST(0x0000A6EE01843C9B AS DateTime), 120, 100, 60, 20, 5, 2)
INSERT [dbo].[exam] ([id], [exam_id], [title], [create_time], [start_time], [duration_time], [total_score], [pass_score], [sigle_score], [question_quantity], [create_user]) VALUES (3, N'E000003', N'Test only', CAST(0x0000A6DD01682BE5 AS DateTime), CAST(0x0000A6DD01786D2B AS DateTime), 60, 100, 60, 25, 4, 2)
SET IDENTITY_INSERT [dbo].[exam] OFF
/****** Object:  Table [dbo].[user_exam_question]    Script Date: 01/04/2017 22:11:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_exam_question](
	[user_id] [int] NOT NULL,
	[exam_id] [int] NOT NULL,
	[question_id] [int] NOT NULL,
	[answer] [int] NULL,
	[answer_score] [int] NULL
) ON [PRIMARY]
GO
UPDATE STATISTICS [dbo].[user_exam_question] WITH ROWCOUNT = 18, PAGECOUNT = 3
GO
CREATE STATISTICS [_WA_Sys_00000001_2C3393D0] ON [dbo].[user_exam_question]([user_id]) WITH STATS_STREAM = 0x010000000100000000000000000000001B36113B00000000CB010000000000008B010000000000003803803F3800000004000A000000000000000000000000000700000020960701E3A6000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000803F00000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000001F0000000000000027000000000000000800000000000000100014000000803F000000000000803F040000000400000100000000000000
GO
CREATE STATISTICS [_WA_Sys_00000002_2C3393D0] ON [dbo].[user_exam_question]([exam_id]) WITH STATS_STREAM = 0x01000000010000000000000000000000E9E2EB1900000000CB010000000000008B010000000000003803803F3800000004000A000000000000000000000000000700000020960701E3A6000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000803F00000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000001F0000000000000027000000000000000800000000000000100014000000803F000000000000803F020000000400000100000000000000
GO
CREATE STATISTICS [_WA_Sys_00000003_2C3393D0] ON [dbo].[user_exam_question]([question_id]) WITH STATS_STREAM = 0x010000000100000000000000000000001165B7B900000000CB010000000000008B010000000000003803803F3800000004000A000000000000000000000000000700000037960701E3A6000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000803F00000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000001F0000000000000027000000000000000800000000000000100014000000803F000000000000803F010000000400000100000000000000
GO
CREATE STATISTICS [_WA_Sys_00000004_2C3393D0] ON [dbo].[user_exam_question]([answer]) WITH STATS_STREAM = 0x010000000100000000000000000000000CE7ADEE00000000A4010000000000006401000000000000380278053800000004000A000000000000000000000000000700000020960701E3A6000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000100000014000000000000000000803F0000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000000000000000000000000000008000000000000000100000000000000
GO
CREATE STATISTICS [_WA_Sys_00000005_2C3393D0] ON [dbo].[user_exam_question]([answer_score]) WITH STATS_STREAM = 0x0100000001000000000000000000000029117CAA00000000EA01000000000000AA01000000000000380200003800000004000A0000000000000000000000000007000000EAF36701E3A600000800000000000000080000000000000000000000ABAAAA3E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000020000000100000014000000000020400000004100004040000020400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000003E000000000000004600000000000000100000000000000027000000000000001000140000008040000000000000803F00000000040000100014000000803F000000000000803F010000000400000800000000000000
GO
INSERT [dbo].[user_exam_question] ([user_id], [exam_id], [question_id], [answer], [answer_score]) VALUES (4, 2, 1, NULL, NULL)
INSERT [dbo].[user_exam_question] ([user_id], [exam_id], [question_id], [answer], [answer_score]) VALUES (4, 2, 2, NULL, NULL)
INSERT [dbo].[user_exam_question] ([user_id], [exam_id], [question_id], [answer], [answer_score]) VALUES (4, 2, 3, NULL, NULL)
/****** Object:  Table [dbo].[user_exam]    Script Date: 01/04/2017 22:11:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[user_exam](
	[user_id] [int] NOT NULL,
	[exam_id] [int] NOT NULL,
	[score] [int] NULL,
	[operation] [varchar](50) NULL,
	[avg_score] [float] NULL,
	[pass_rate] [float] NULL,
	[is_need_update] [int] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
UPDATE STATISTICS [dbo].[user_exam] WITH ROWCOUNT = 19, PAGECOUNT = 1
GO
CREATE STATISTICS [_WA_Sys_00000001_1367E606] ON [dbo].[user_exam]([user_id]) WITH STATS_STREAM = 0x0100000001000000000000000000000097C81A0200000000CB010000000000008B01000000000000380300003800000004000A000000000000000000000000000700000043797801DDA6000002000000000000000200000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000004000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000001F00000000000000270000000000000008000000000000001000140000000040000000000000803F040000000400000200000000000000
GO
CREATE STATISTICS [_WA_Sys_00000002_1367E606] ON [dbo].[user_exam]([exam_id]) WITH STATS_STREAM = 0x010000000100000000000000000000007D341D8C00000000EA01000000000000AA01000000000000380300003800000004000A000000000000000000000000000700000043797801DDA6000002000000000000000200000000000000000000000000003F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000020000000100000014000000000080400000004000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000003E00000000000000460000000000000010000000000000002700000000000000100014000000803F000000000000803F01000000040000100014000000803F000000000000803F020000000400000200000000000000
GO
CREATE STATISTICS [_WA_Sys_00000003_1367E606] ON [dbo].[user_exam]([score]) WITH STATS_STREAM = 0x0100000001000000000000000000000051906D9700000000CB010000000000008B01000000000000380200003800000004000A000000000000000000000000000700000043797801DDA6000002000000000000000200000000000000000000000000003F00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000100000001000000010000001400000000000040000000400000803F000000400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000001F0000000000000027000000000000000800000000000000100014000000803F000000000000803F140000000400000200000000000000
GO
CREATE STATISTICS [_WA_Sys_00000004_1367E606] ON [dbo].[user_exam]([operation]) WITH STATS_STREAM = 0x01000000010000000000000000000000C148B56200000000DB010000000000009B01000000000000A7020000A7000000320000000000000024D00000020000000700000041747401E0A6000006000000000000000600000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000100000010000000000000000000C0400000C040000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000120000000000000000000000000000002F000000000000003700000000000000FF010000000600000006000000010000002800000028000000000000000000000000000000010000000000000000000600000000000000
GO
CREATE STATISTICS [_WA_Sys_00000005_1367E606] ON [dbo].[user_exam]([avg_score]) WITH STATS_STREAM = 0x01000000010000000000000000000000B7E6E9E200000000A40100000000000064010000000000003E0265003E000000080035000000000000000000F01F7805070000004BC34F01E8A6000013000000000000001300000000000000000000000000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000180000000000000000009841000098410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000000000000000000000000000008000000000000001300000000000000
GO
CREATE STATISTICS [_WA_Sys_00000006_1367E606] ON [dbo].[user_exam]([pass_rate]) WITH STATS_STREAM = 0x01000000010000000000000000000000B7E6E9E200000000A40100000000000064010000000000003E0265003E000000080035000000000000000000F01F7805070000004BC34F01E8A6000013000000000000001300000000000000000000000000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000180000000000000000009841000098410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000000000000000000000000000008000000000000001300000000000000
GO
CREATE STATISTICS [_WA_Sys_00000007_1367E606] ON [dbo].[user_exam]([is_need_update]) WITH STATS_STREAM = 0x010000000100000000000000000000004B3CD9A800000000A4010000000000006401000000000000380265003800000004000A000000000000000000F01F7805070000008CA93B01EAA6000013000000000000001300000000000000000000000000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000140000000000000000009841000098410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000000000000000000000000000008000000000000001300000000000000
GO
INSERT [dbo].[user_exam] ([user_id], [exam_id], [score], [operation], [avg_score], [pass_rate], [is_need_update]) VALUES (4, 1, 60, N'Pass', 67, 67, 1)
INSERT [dbo].[user_exam] ([user_id], [exam_id], [score], [operation], [avg_score], [pass_rate], [is_need_update]) VALUES (4, 2, -1, N'Do it', 20, 0, 1)
INSERT [dbo].[user_exam] ([user_id], [exam_id], [score], [operation], [avg_score], [pass_rate], [is_need_update]) VALUES (4, 3, 20, N'No pass', 40, 33, 1)
/****** Object:  Table [dbo].[user]    Script Date: 01/04/2017 22:11:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[user](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [varchar](50) NOT NULL,
	[user_name] [varchar](50) NOT NULL,
	[chinese_name] [nvarchar](50) NULL,
	[password] [varchar](50) NOT NULL,
	[gender] [varchar](10) NOT NULL,
	[create_time] [datetime] NOT NULL,
	[update_time] [datetime] NOT NULL,
	[last_login_time] [datetime] NULL,
	[role_id] [int] NOT NULL,
	[is_active] [int] NOT NULL,
	[phone_number] [varchar](20) NULL,
	[email] [varchar](50) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
UPDATE STATISTICS [dbo].[user] WITH ROWCOUNT = 6, PAGECOUNT = 1
GO
CREATE STATISTICS [_WA_Sys_00000001_412EB0B6] ON [dbo].[user]([id]) WITH STATS_STREAM = 0x0100000001000000000000000000000053C31D3D000000000902000000000000C901000000000000380378053800000004000A000000000000000000DD020000070000000F370801E8A60000050000000000000005000000000000000000803FCDCC4C3E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000003000000030000000100000014000000000080400000A04000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000005D00000000000000650000000000000018000000000000002F000000000000004600000000000000100014000000803F000000000000803F04000000040000100014000000803F0000803F0000803F06000000040000100014000000803F0000803F0000803F100000000400000500000000000000
GO
CREATE STATISTICS [_WA_Sys_00000002_412EB0B6] ON [dbo].[user]([user_id]) WITH STATS_STREAM = 0x01000000010000000000000000000000B9DBD21D00000000A9020000000000006902000000000000A7030000A7000000320000000000000024D00000000000000700000023D80801E8A60000050000000000000005000000000000000000803FCDCC4C3E0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000040000000400000001000000100000000000C0400000A040000000000000C0400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130000000000000000000000000000009400000000000000F500000000000000FD0000000000000020000000000000003D000000000000005A000000000000007700000000000000300010000000803F000000000000803F04000001001D00543030303034300010000000803F0000803F0000803F04000001001D00543030303036300010000000803F000000000000803F04000001001D00543030303131300010000000803F000000000000803F04000001001D00543030303136FF01000000000000000500000005000000280000002800000000000000000000000A000000543030303034353631310900000040000000004004000000C001040000810105000081010600000101070000400108000081010900000101070000000500000000000000
GO
CREATE STATISTICS [_WA_Sys_00000003_412EB0B6] ON [dbo].[user]([user_name]) WITH STATS_STREAM = 0x010000000100000000000000000000006E6EAB8F00000000C4020000000000008402000000000000A7030000A7000000320000000000000024D00000050000000700000023D80801E8A600000500000000000000050000000000000000000000CDCC4C3E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000005000000050000000100000010000000666686400000A0400000000066668640000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000013000000000000000000000000000000B00000000000000010010000000000001801000000000000280000000000000045000000000000005F000000000000007B000000000000009600000000000000300010000000803F000000000000803F04000001001D00656477617264300010000000803F000000000000803F04000001001A006B656E300010000000803F000000000000803F04000001001C006B6576696E300010000000803F000000000000803F04000001001B006C696C69300010000000803F000000000000803F04000001001A00746F6DFF0100000000000000050000000500000028000000280000000000000000000000130000006564776172646B656E76696E6C696C69746F6D0700000040000000008106000000C0020600008101080000010309000081040C00000103100000000500000000000000
GO
CREATE STATISTICS [_WA_Sys_00000004_412EB0B6] ON [dbo].[user]([chinese_name]) WITH STATS_STREAM = 0x0100000001000000000000000000000064A5DE7D00000000C7020000000000008702000000000000E7020000E7000000640000000000000024D00000050000000700000023D80801E8A600000500000000000000050000000000000000000000CDCC4C3E0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000050000000500000001000000100000009A9999400000A040000000009A999940000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000013000000000000000000000000000000B30000000000000013010000000000001B010000000000002800000000000000450000000000000060000000000000007B000000000000009800000000000000300010000000803F000000000000803F04000001001D00C49EDA8B2959300010000000803F000000000000803F04000001001B004E678983300010000000803F000000000000803F04000001001B00646CC659300010000000803F000000000000803F04000001001D00876507977067300010000000803F000000000000803F04000001001B00395C858DFF01000000000000000500000005000000280000002800000000000000000000000C000000C49EDA8B29594E678983646CC659876507977067395C858D060000004000000000810300000081020300008102050000810307000001020A0000000500000000000000
GO
CREATE STATISTICS [_WA_Sys_00000005_412EB0B6] ON [dbo].[user]([password]) WITH STATS_STREAM = 0x0100000001000000000000000000000064E8C3370000000047020000000000000702000000000000A7030402A7000000320000000000000024D0000008001300070000001ED80801E8A6000005000000000000000500000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000010000000000000420000A04000000000000000420000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130000000000000000000000000000003F0000000000000093000000000000009B000000000000000800000000000000300010000000A040000000000000803F040000010037003230324342393632414335393037354239363442303731353244323334423730FF01000000000000000500000001000000280000002800000000000000000000002000000032303243423936324143353930373542393634423037313532443233344237300200000040000000000520000000000500000000000000
GO
CREATE STATISTICS [_WA_Sys_00000006_412EB0B6] ON [dbo].[user]([gender]) WITH STATS_STREAM = 0x01000000010000000000000000000000E5516D98000000003B02000000000000FB01000000000000A7030000A70000000A0000000000000024D0000000000000070000001AD80801E8A6000005000000000000000500000000000000000000000000003F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000020000000100000010000000CDCC8C400000A04000000000CDCC8C40000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000013000000000000000000000000000000480000000000000087000000000000008F0000000000000010000000000000002D00000000000000300010000000803F000000000000803F04000001001D0066656D616C653000100000008040000000000000803F04000001001B006D616C65FF01000000000000000500000002000000280000002800000000000000000000000600000066656D616C6503000000400000000081060000000404020000000500000000000000
GO
CREATE STATISTICS [_WA_Sys_00000007_412EB0B6] ON [dbo].[user]([create_time]) WITH STATS_STREAM = 0x0100000001000000000000000000000082B880FF000000005B020000000000001B020000000000003D0300003D00000008001703000000000000000000000000070000001AD80801E8A600000500000000000000050000000000000000000000CDCC4C3E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000005000000050000000100000018000000000000410000A0400000000000000041000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000011000000000000000000000000000000AF00000000000000B700000000000000280000000000000043000000000000005E0000000000000079000000000000009400000000000000100018000000803F000000000000803F98878500DBA60000040000100018000000803F000000000000803FCB006301DDA60000040000100018000000803F000000000000803FB74A6301DDA60000040000100018000000803F000000000000803F7B616401DDA60000040000100018000000803F000000000000803F1B624C01E0A600000400000500000000000000
GO
CREATE STATISTICS [_WA_Sys_00000008_412EB0B6] ON [dbo].[user]([update_time]) WITH STATS_STREAM = 0x01000000010000000000000000000000A41C8B5B000000005B020000000000001B020000000000003D0300003D00000008001703000000000000000000000000070000001AD80801E8A600000500000000000000050000000000000000000000CDCC4C3E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000005000000050000000100000018000000000000410000A0400000000000000041000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000011000000000000000000000000000000AF00000000000000B700000000000000280000000000000043000000000000005E0000000000000079000000000000009400000000000000100018000000803F000000000000803F98878500DBA60000040000100018000000803F000000000000803FCB006301DDA60000040000100018000000803F000000000000803FB74A6301DDA60000040000100018000000803F000000000000803F7B616401DDA60000040000100018000000803F000000000000803F9B576D01E0A600000400000500000000000000
GO
CREATE STATISTICS [_WA_Sys_00000009_412EB0B6] ON [dbo].[user]([last_login_time]) WITH STATS_STREAM = 0x010000000100000000000000000000007CD9C81F000000005B020000000000001B020000000000003D0200003D00000008001703000000000000000000000000070000001AD80801E8A600000500000000000000050000000000000000000000CDCC4C3E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000005000000050000000100000018000000000000410000A0400000000000000041000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000011000000000000000000000000000000AF00000000000000B700000000000000280000000000000043000000000000005E0000000000000079000000000000009400000000000000100018000000803F000000000000803F98878500DBA60000040000100018000000803F000000000000803FCB006301DDA60000040000100018000000803F000000000000803FB74A6301DDA60000040000100018000000803F000000000000803F7B616401DDA60000040000100018000000803F000000000000803F9B576D01E0A600000400000500000000000000
GO
CREATE STATISTICS [_WA_Sys_0000000A_412EB0B6] ON [dbo].[user]([role_id]) WITH STATS_STREAM = 0x01000000010000000000000000000000D1F052A3000000000902000000000000C901000000000000380300003800000004000A00000000000000000053007400070000001AD80801E8A600000500000000000000050000000000000000000000ABAAAA3E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000003000000030000000100000014000000000080400000A04000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000005D00000000000000650000000000000018000000000000002F000000000000004600000000000000100014000000803F000000000000803F02000000040000100014000000803F000000000000803F030000000400001000140000004040000000000000803F040000000400000500000000000000
GO
CREATE STATISTICS [_WA_Sys_0000000B_412EB0B6] ON [dbo].[user]([is_active]) WITH STATS_STREAM = 0x010000000100000000000000000000009ED8D5A300000000CB010000000000008B0100000000000038035F003800000004000A0000000000000000001800F017070000001AD80801E8A6000005000000000000000500000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000A04000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000001F0000000000000027000000000000000800000000000000100014000000A040000000000000803F000000000400000500000000000000
GO
CREATE STATISTICS [_WA_Sys_0000000C_412EB0B6] ON [dbo].[user]([phone_number]) WITH STATS_STREAM = 0x01000000010000000000000000000000C65EE9B900000000DB010000000000009B01000000000000A7020000A7000000140000000000000024D0000005000000070000001AD80801E8A6000005000000000000000500000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000100000010000000000000000000A0400000A040000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000120000000000000000000000000000002F000000000000003700000000000000FF010000000500000005000000010000002800000028000000000000000000000000000000010000000000000000000500000000000000
GO
CREATE STATISTICS [_WA_Sys_0000000D_412EB0B6] ON [dbo].[user]([email]) WITH STATS_STREAM = 0x01000000010000000000000000000000EC0D771E00000000DB010000000000009B01000000000000A7020000A7000000320000000000000024D0000005000000070000001AD80801E8A6000005000000000000000500000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000100000010000000000000000000A0400000A040000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000120000000000000000000000000000002F000000000000003700000000000000FF010000000500000005000000010000002800000028000000000000000000000000000000010000000000000000000500000000000000
GO
SET IDENTITY_INSERT [dbo].[user] ON
INSERT [dbo].[user] ([id], [user_id], [user_name], [chinese_name], [password], [gender], [create_time], [update_time], [last_login_time], [role_id], [is_active], [phone_number], [email]) VALUES (4, N'T00004', N'kevin', N'文震杰', N'202CB962AC59075B964B07152D234B70', N'male', CAST(0x0000A6DD016300CB AS DateTime), CAST(0x0000A6DD016300CB AS DateTime), CAST(0x0000A6DD016300CB AS DateTime), 4, 0, N'12345614531', N'2312656@163.com')
INSERT [dbo].[user] ([id], [user_id], [user_name], [chinese_name], [password], [gender], [create_time], [update_time], [last_login_time], [role_id], [is_active], [phone_number], [email]) VALUES (5, N'T00005', N'tom', N'汤姆', N'202CB962AC59075B964B07152D234B70', N'male', CAST(0x0000A6DD01634AB7 AS DateTime), CAST(0x0000A6DD01634AB7 AS DateTime), CAST(0x0000A6DD01634AB7 AS DateTime), 3, 0, N'13654365365', N'2312656@163.com')
INSERT [dbo].[user] ([id], [user_id], [user_name], [chinese_name], [password], [gender], [create_time], [update_time], [last_login_time], [role_id], [is_active], [phone_number], [email]) VALUES (6, N'T00006', N'lili', N'李莉', N'202CB962AC59075B964B07152D234B70', N'female', CAST(0x0000A6DD0164617B AS DateTime), CAST(0x0000A6DD0164617B AS DateTime), CAST(0x0000A6DD0164617B AS DateTime), 2, 0, N'17686786786', N'2312656@163.com')
SET IDENTITY_INSERT [dbo].[user] OFF
/****** Object:  Table [dbo].[role]    Script Date: 01/04/2017 22:11:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[role](
	[id] [int] NULL,
	[name] [varchar](50) NULL,
	[diaplay_name] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
UPDATE STATISTICS [dbo].[role] WITH ROWCOUNT = 4, PAGECOUNT = 1
GO
CREATE STATISTICS [_WA_Sys_00000001_08EA5793] ON [dbo].[role]([id]) WITH STATS_STREAM = 0x0100000001000000000000000000000083EFF19E0000000061020000000000002102000000000000380200003800000004000A00000000000000000000000000070000008F250501E8A60000040000000000000004000000000000000000803F0000803E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000003000000030000000100000014000000000080400000804000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000190000000000000000000000000000005D00000000000000AD00000000000000B50000000000000018000000000000002F000000000000004600000000000000100014000000803F000000000000803F01000000040000100014000000803F0000803F0000803F03000000040000100014000000803F000000000000803F040000000400000100000097490201DCA600000000000000001040040000000000000003000000000000000000D03F0000000000000000000000000000000000000000000000C000000000000000C000000000000000000400000000000000
GO
CREATE STATISTICS [_WA_Sys_00000002_08EA5793] ON [dbo].[role]([name]) WITH STATS_STREAM = 0x01000000010000000000000000000000E267F7FB00000000CF020000000000008F02000000000000A7020000A7000000320000000000000024D000000000000007000000B9250501E8A6000004000000000000000400000000000000000000000000803E00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000400000004000000010000001000000000003041000080400000000000003041000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000013000000000000000000000000000000A8000000000000001B0100000000000023010000000000002000000000000000430000000000000066000000000000008500000000000000300010000000803F000000000000803F04000001002300636F6E74656E7441646D696E300010000000803F000000000000803F0400000100230073747564656E7441646D696E300010000000803F000000000000803F04000001001F0073797341646D696E300010000000803F000000000000803F040000010023007465616368657241646D696EFF01000000000000000400000004000000280000002800000000000000000000002B000000636F6E74656E7441646D696E73747564656E7441646D696E797341646D696E7465616368657241646D696E060000004000000000810C000000C0010C0000810B0D00000107180000010C1F0000000400000000000000
GO
CREATE STATISTICS [_WA_Sys_00000003_08EA5793] ON [dbo].[role]([diaplay_name]) WITH STATS_STREAM = 0x010000000100000000000000000000005D53A55F00000000DD020000000000009D02000000000000A7030000A7000000320000000000000024D000000400000007000000AB250501E8A6000004000000000000000400000000000000000000000000803E00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000400000004000000010000001000000000004C41000080400000000000004C41000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000013000000000000000000000000000000AF00000000000000290100000000000031010000000000002000000000000000440000000000000068000000000000008B00000000000000300010000000803F000000000000803F04000001002400636F6E74656E742061646D696E300010000000803F000000000000803F0400000100240073747564656E742061646D696E300010000000803F000000000000803F0400000100230073797374656D2061646D696E300010000000803F000000000000803F04000001002400746561636865722061646D696EFF010000000000000004000000040000002800000028000000000000000000000032000000636F6E74656E742061646D696E73747564656E742061646D696E797374656D2061646D696E746561636865722061646D696E060000004000000000810D000000C0010D0000810C0E0000010B1A0000010D250000000400000000000000
GO
INSERT [dbo].[role] ([id], [name], [diaplay_name]) VALUES (1, N'sysAdmin', N'system admin')
INSERT [dbo].[role] ([id], [name], [diaplay_name]) VALUES (2, N'contentAdmin', N'content admin')
INSERT [dbo].[role] ([id], [name], [diaplay_name]) VALUES (3, N'teacherAdmin', N'teacher')
/****** Object:  Table [dbo].[question]    Script Date: 01/04/2017 22:11:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[question](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[question_id] [varchar](50) NULL,
	[title] [varchar](200) NOT NULL,
	[option_a] [varchar](100) NOT NULL,
	[option_b] [varchar](100) NOT NULL,
	[option_c] [varchar](100) NOT NULL,
	[option_d] [varchar](100) NOT NULL,
	[answer] [int] NOT NULL,
	[create_time] [datetime] NOT NULL,
	[update_time] [datetime] NULL,
	[is_active] [int] NULL,
 CONSTRAINT [PK_question] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE STATISTICS [_WA_Sys_00000002_31EC6D26] ON [dbo].[question]([question_id]) WITH STATS_STREAM = 0x01000000010000000000000000000000BCF69790000000007E020000000000003E02000000000000A7020000A7000000320000000000000024D000000100000007000000AA554F01E1A60000050000000000000005000000000000000000803FCDCC4C3E0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000030000000300000001000000100000000000E0400000A040000000000000E0400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130000000000000000000000000000007200000000000000CA00000000000000D200000000000000180000000000000036000000000000005400000000000000300010000000803F000000000000803F04000001001E0051303030303031300010000000803F0000803F0000803F04000001001E0051303030303033300010000000803F0000803F0000803F04000001001E0051303030303035FF01000000000000000500000005000000280000002800000000000000000000000B00000051303030303031323334350700000040000000004006000000810106000081010700008101080000810109000001010A0000000500000000000000
GO
CREATE STATISTICS [_WA_Sys_00000003_31EC6D26] ON [dbo].[question]([title]) WITH STATS_STREAM = 0x01000000010000000000000000000000ABFB6BEC0000000085040000000000004504000000000000A7030028A7000000C80000000000000024D000003030303007000000D3A4FF00F1A6000005000000000000000500000000000000000000000000803E00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000400000004000000010000001000000033338B420000A0400000000033338B420000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130000000000000000000000000000008601000000000000D102000000000000D90200000000000020000000000000006900000000000000C4000000000000002D01000000000000300010000000803F000000000000803F040000010049007072696E6369706C657320666F72207265706F7274696E672061206275672E776869636820697320696E636F72726563743F300010000000803F000000000000803F04000001005B0073746174656D656E7420636F7272656374207072696E6369706C657320666F72207265706F7274696E672061206275672E776869636820697320696E636F72726563743F3000100000000040000000000000803F0400000100690054686520666F6C6C6F77696E672073746174656D656E7420636F7272656374207072696E6369706C657320666F72207265706F7274696E672061206275672E776869636820697320696E636F72726563743F300010000000803F000000000000803F040000010059005468652066756E64616D656E74616C207072696E6369706C657320666F72207265706F7274696E672061206275672E776869636820697320696E636F72726563743FFF0100000000000000050000000400000028000000280000000000000000000000030100007072696E6369706C657320666F72207265706F7274696E672061206275672E776869636820697320696E636F72726563743F73746174656D656E7420636F7272656374207072696E6369706C657320666F72207265706F7274696E672061206275672E776869636820697320696E636F72726563743F54686520666F6C6C6F77696E672073746174656D656E7420636F7272656374207072696E6369706C20666F72207265706F7274696E672061206275672E776869636820697320696E636F72726563743F756E64616D656E74616C207072696E6369706C657320666F72207265706F7274696E672061206275672E776869636820697320696E636F72726563743F060000004000000000813200000081443200004005760000824B7B0000013DC60000000500000000000000
GO
CREATE STATISTICS [_WA_Sys_00000004_31EC6D26] ON [dbo].[question]([option_a]) WITH STATS_STREAM = 0x0100000001000000000000000000000057B31CC2000000004F030000000000000F03000000000000A703696EA7000000640000000000000024D0000074696E6707000000CEA4FF00F1A6000005000000000000000500000000000000000000000000803E0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000040000000400000001000000100000006666CE410000A040000000006666CE41000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000013000000000000000000000000000000E8000000000000009B01000000000000A30100000000000020000000000000004C000000000000007B00000000000000B1000000000000003000100000000040000000000000803F04000001002C006120697320736F6F6E20617320706F737369626C65300010000000803F000000000000803F04000001002F006172677320617320736F6F6E20617320706F737369626C65300010000000803F000000000000803F040000010036005265706F7274206275677320617320736F6F6E20617320706F737369626C65300010000000803F000000000000803F04000001003700746865206F7074696F6E206120697320736F6F6E20617320706F737369626C65FF01000000000000000500000004000000280000002800000000000000000000006B0000006120697320736F6F6E20617320706F737369626C6572677320617320736F6F6E20617320706F737369626C655265706F7274206275677320617320736F6F6E20617320706F737369626C65746865206F7074696F6E206120697320736F6F6E20617320706F737369626C65060000004000000000C00100000082140100000117150000811F2C000001204B0000000500000000000000
GO
CREATE STATISTICS [_WA_Sys_00000005_31EC6D26] ON [dbo].[question]([option_b]) WITH STATS_STREAM = 0x01000000010000000000000000000000CFC23EF6000000002C03000000000000EC02000000000000A7030000A7000000640000000000000024D000000000000007000000C0A4FF00F1A6000005000000000000000500000000000000000000000000803E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000004000000040000000100000010000000CDCCC4410000A04000000000CDCCC441000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000013000000000000000000000000000000E1000000000000007801000000000000800100000000000020000000000000004D000000000000007500000000000000A9000000000000003000100000000040000000000000803F04000001002D0062206973206465736372696265207468652062756773300010000000803F000000000000803F040000010028006465736372696265207468652062756773300010000000803F000000000000803F040000010034004566666563746976656C79206465736372696265207468652062756773300010000000803F000000000000803F04000001003800746865206F7074696F6E2062206973206465736372696265207468652062756773FF010000000000000005000000040000002800000028000000000000000000000054000000622069732064657363726962652074686520627567734566666563746976656C79206465736372696265207468652062756773746865206F7074696F6E206220697320646573637269626520746865206275677305000000400000000082160000008111050000811D1600000121330000000500000000000000
GO
CREATE STATISTICS [_WA_Sys_00000006_31EC6D26] ON [dbo].[question]([option_c]) WITH STATS_STREAM = 0x01000000010000000000000000000000B01B11890000000077030000000000003703000000000000A7030000A7000000640000000000000024D000000000000007000000B2A4FF00F1A6000005000000000000000500000000000000000000000000803E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000004000000040000000100000010000000000010420000A04000000000000010420000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130000000000000000000000000000000D01000000000000C301000000000000CB01000000000000200000000000000059000000000000009300000000000000C800000000000000300010000000803F000000000000803F040000010039004265206E6F6E2D6A7564676D656E74616C20696E207265706F7274696E67206275673000100000000040000000000000803F04000001003A0063206973206F6E2D6A7564676D656E74616C20696E207265706F7274696E6720627567300010000000803F000000000000803F040000010035006F6E2D6A7564676D656E74616C20696E207265706F7274696E6720627567300010000000803F000000000000803F04000001004500746865206F7074696F6E2063206973206F6E2D6A7564676D656E74616C20696E207265706F7274696E6720627567FF0100000000000000050000000400000028000000280000000000000000000000730000004265206E6F6E2D6A7564676D656E74616C20696E207265706F7274696E672062756763206973206F6E2D6A7564676D656E74616C20696E207265706F7274696E6720627567746865206F7074696F6E2063206973206F6E2D6A7564676D656E74616C20696E207265706F7274696E672062756705000000400000000081220000008223220000811E040000012E450000000500000000000000
GO
CREATE STATISTICS [_WA_Sys_00000007_31EC6D26] ON [dbo].[question]([option_d]) WITH STATS_STREAM = 0x01000000010000000000000000000000779E579100000000EF03000000000000AF03000000000000A7030000A7000000640000000000000024D000000000000007000000ADA4FF00F1A6000005000000000000000500000000000000000000000000803E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000004000000040000000100000010000000666652420000A040000000006666524200000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001300000000000000000000000000000051010000000000003B02000000000000430200000000000020000000000000006900000000000000B800000000000000FD000000000000003000100000000040000000000000803F04000001004900642069736F6E20796F7520627567207265706F7274732074696C6C2074686579206172652067657474696E67206669786564300010000000803F000000000000803F04000001004F00466F6C6C6F77207570206F6E20796F7520627567207265706F7274732074696C6C2074686579206172652067657474696E67206669786564300010000000803F000000000000803F040000010045006F6E20796F7520627567207265706F7274732074696C6C2074686579206172652067657474696E67206669786564300010000000803F000000000000803F04000001005400746865206F7074696F6E20642069736F6E20796F7520627567207265706F7274732074696C6C2074686579206172652067657474696E67206669786564FF0100000000000000050000000400000028000000280000000000000000000000A7000000642069736F6E20796F7520627567207265706F7274732074696C6C2074686579206172652067657474696E67206669786564466F6C6C6F77207570206F6E20796F7520627567207265706F7274732074696C6C2074686579206172652067657474696E67206669786564746865206F7074696F6E20642069736F6E20796F7520627567207265706F7274732074696C6C2074686579206172652067657474696E6720666978656405000000400000000082320000008138320000812E040000013D6A0000000500000000000000
GO
CREATE STATISTICS [_WA_Sys_00000008_31EC6D26] ON [dbo].[question]([answer]) WITH STATS_STREAM = 0x01000000010000000000000000000000D00C9013000000002802000000000000E801000000000000380300003800000004000A0000000000000000000000000007000000ADA4FF00F1A6000005000000000000000500000000000000000000000000803E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000004000000040000000100000014000000000080400000A04000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000007C000000000000008400000000000000200000000000000037000000000000004E000000000000006500000000000000100014000000803F000000000000803F00000000040000100014000000803F000000000000803F010000000400001000140000000040000000000000803F02000000040000100014000000803F000000000000803F030000000400000500000000000000
GO
CREATE STATISTICS [_WA_Sys_00000009_31EC6D26] ON [dbo].[question]([create_time]) WITH STATS_STREAM = 0x010000000100000000000000000000008DF024C8000000005B020000000000001B020000000000003D03803E3D0000000800170300000000000000000000000007000000A9A4FF00F1A600000500000000000000050000000000000000000000CDCC4C3E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000005000000050000000100000018000000000000410000A0400000000000000041000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000011000000000000000000000000000000AF00000000000000B700000000000000280000000000000043000000000000005E0000000000000079000000000000009400000000000000100018000000803F000000000000803F42DE1E01E1A60000040000100018000000803F000000000000803F34202001E1A60000040000100018000000803F000000000000803F9F652001E1A60000040000100018000000803F000000000000803F35862001E1A60000040000100018000000803F000000000000803F81154F01E1A600000400000500000000000000
GO
CREATE STATISTICS [_WA_Sys_0000000A_31EC6D26] ON [dbo].[question]([update_time]) WITH STATS_STREAM = 0x01000000010000000000000000000000C2073FA4000000005B020000000000001B020000000000003D02803E3D0000000800170300000000000000000000000007000000A4A4FF00F1A600000500000000000000050000000000000000000000CDCC4C3E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000005000000050000000100000018000000000000410000A0400000000000000041000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000011000000000000000000000000000000AF00000000000000B700000000000000280000000000000043000000000000005E0000000000000079000000000000009400000000000000100018000000803F000000000000803F42DE1E01E1A60000040000100018000000803F000000000000803F34202001E1A60000040000100018000000803F000000000000803F9F652001E1A60000040000100018000000803F000000000000803F35862001E1A60000040000100018000000803F000000000000803F81154F01E1A600000400000500000000000000
GO
CREATE STATISTICS [_WA_Sys_0000000B_31EC6D26] ON [dbo].[question]([is_active]) WITH STATS_STREAM = 0x010000000100000000000000000000004BD3541100000000CB010000000000008B01000000000000380200003800000004000A0000000000000000007F000000070000008CA4FF00F1A6000005000000000000000500000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000A04000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000001F0000000000000027000000000000000800000000000000100014000000A040000000000000803F000000000400000500000000000000
GO
UPDATE STATISTICS [dbo].[question]([PK_question]) WITH STATS_STREAM = 0x010000000100000000000000000000001A48B41E000000000902000000000000C901000000000000380300003800000004000A00000000000000000000000000070000005FA85101E1A60000050000000000000005000000000000000000803FCDCC4C3E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000003000000030000000100000014000000000080400000A04000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000005D00000000000000650000000000000018000000000000002F000000000000004600000000000000100014000000803F000000000000803F01000000040000100014000000803F0000803F0000803F03000000040000100014000000803F0000803F0000803F050000000400000500000000000000, ROWCOUNT = 5, PAGECOUNT = 1
GO
SET IDENTITY_INSERT [dbo].[question] ON
INSERT [dbo].[question] ([id], [question_id], [title], [option_a], [option_b], [option_c], [option_d], [answer], [create_time], [update_time], [is_active]) VALUES (1, N'Q000001', N'The fundamental principles for reporting a bug.which is incorrect?', N'on as possible', N'Effectively describe the bugs', N'Be non-judgmental in reporting bug', N'Follow up on you bug reports till they are getting fixed', 2, CAST(0x0000A6E1011EDE42 AS DateTime), CAST(0x0000A6E1011EDE42 AS DateTime), 0)
INSERT [dbo].[question] ([id], [question_id], [title], [option_a], [option_b], [option_c], [option_d], [answer], [create_time], [update_time], [is_active]) VALUES (2, N'Q000002', N'The following statement correct principles for reporting a bug.which is incorrect?', N'args as soon as possible', N'describe the bugs', N'on-judgmental in reporting bug', N'on you bug reports till they are getting fixed', 3, CAST(0x0000A6E101202034 AS DateTime), CAST(0x0000A6E10145C104 AS DateTime), 0)
INSERT [dbo].[question] ([id], [question_id], [title], [option_a], [option_b], [option_c], [option_d], [answer], [create_time], [update_time], [is_active]) VALUES (3, N'Q000003', N'The following statement correct principles for reporting a bug.which is incorrect?', N'the option a is soon as possible', N'the option b is describe the bugs', N'the option c is on-judgmental in reporting bug', N'the option d ison you bug reports till they are getting fixed', 0, CAST(0x0000A6E10120659F AS DateTime), CAST(0x0000A6E10120659F AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[question] OFF
/****** Object:  StoredProcedure [dbo].[procUpdateResultWithNoExamineeUser]    Script Date: 01/04/2017 22:10:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[procUpdateResultWithNoExamineeUser]
	@examId int,
	@userId int
AS
BEGIN
	update user_exam
	SET 
		score = 0,
		operation = 'No pass'
	WHERE 
		user_id = @userId 
	AND
		exam_id = @examId
	
END
GO
/****** Object:  StoredProcedure [dbo].[procUpdatePasswordByUserId]    Script Date: 01/04/2017 22:10:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[procUpdatePasswordByUserId]
	@userId int,
	@password varchar(100)
AS
BEGIN
	UPDATE [user]
	SET 
		password = @password
	WHERE
		[user].id = @userId
	
END
GO
/****** Object:  StoredProcedure [dbo].[procUpdateAvgPassRate]    Script Date: 01/04/2017 22:10:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[procUpdateAvgPassRate]
	@examId int,
	@avg float,
	@pass_rate float
AS
BEGIN
	UPDATE user_exam
	SET 
		avg_score = @avg,
		pass_rate = @pass_rate,
		is_need_update = 1
	WHERE 
		exam_id = @examId
END
GO
/****** Object:  StoredProcedure [dbo].[procTeacherFindAllExam]    Script Date: 01/04/2017 22:10:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[procTeacherFindAllExam]
	@sortDirection varchar(50),
	@sortName varchar(50),
	@examName varchar(500),
	@currentPage int,
	@pageSize int,
	@startTime varchar(50),
	@endTime varchar(50)
AS
BEGIN


;with temp as(

	SELECT 
		examTable.[id],
		examTable.[exam_id],
		[title],
		[start_time],
		[question_quantity],
		userExamtable.avg_score,
		userExamtable.pass_rate,
		ROW_NUMBER() OVER (
		ORDER BY 
	    case @sortDirection
			when 'asc' then 
			  case @sortName 
				 when 'examTitle' then  examtable.title
				 when 'examId' then str(examtable.id)
				 when 'examStartTime' then CONVERT(varchar(100), examtable.[start_time])
				 when 'examPassRate' then str(userExamtable.[pass_rate])
				 when 'examAvg' then str(userExamTable.[avg_score])
			   end
		end
		asc
		,
		case @sortDirection
		when 'desc' then 
			case @sortName 
				 when 'examTitle' then  examtable.title
				 when 'examId' then str(examtable.id)
				 when 'examStartTime' then CONVERT(varchar(100),examtable.start_time) 
				 when 'examPassRate' then str(userExamtable.[pass_rate])
				 when 'examAvg' then str(userExamTable.[avg_score])
			 end
		end desc
		) rowNum
		
		FROM [exam] examTable,
		user_exam userExamtable
		WHERE 
			examTable.id = userExamtable.exam_id 
		AND
	    (
			(@examName = '') or (examTable.title like '%'+@examName+'%'))
		AND
		  ((@startTime = '' and @endTime = '') or (examTable.start_time between ''+@startTime+'' and ''+@endTime+''))
		AND
		   ((DATEDIFF(Minute,examTable.create_time, GETDATE()) > examTable.duration_time))
		 
		GROUP BY examTable.[id],examTable.[exam_id],[title],[start_time],[question_quantity],userExamtable.avg_score,userExamtable.pass_rate
 )
 select * from temp
	where temp.rowNum between (@currentPage - 1)*@pageSize + 1 and (@currentPage * @pageSize)
   	
END
GO
/****** Object:  StoredProcedure [dbo].[procStudentResultByExamIdTotalCount]    Script Date: 01/04/2017 22:10:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[procStudentResultByExamIdTotalCount]
	@ExamId int,
	@userName varchar(100)
AS
BEGIN
	SELECT COUNT(1)
	FROM [user],[user_exam],exam
    WHERE 
		[user].id = user_exam.user_id
	AND 
	    user_exam.exam_id = exam.id
    AND 
		exam.id =  @ExamId
	AND 
		user_exam.operation <> 'Do it'
	AND 
	((@userName = '') or ([user].user_name like '%'+@userName+'%'))
	
END
GO
/****** Object:  StoredProcedure [dbo].[procStudentFindAllExam]    Script Date: 01/04/2017 22:10:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[procStudentFindAllExam]
	@sortDirection varchar(50),
	@sortName varchar(50),
	@otherType varchar(50),
	@userId int,
	@currentPage int,
	@pageSize int
	
AS  BEGIN

;with temp as(	
	
	SELECT
		[id],
		[examtable].[exam_id], 
		[title],
		[create_time],
		[start_time],
		[duration_time],
		[total_score],
		[pass_score],
		[sigle_score],
		[question_quantity],
		[score],
		[operation],
		ROW_NUMBER() OVER (
		ORDER BY 
	    case @sortDirection
			when 'asc' then 
			  case @sortName 
				 when 'examTitle' then  examtable.title
				 when 'examId' then str(examtable.id)
				 when 'examStartTime' then CONVERT(varchar(100), examtable.[start_time])
				 when 'examPassScore' then str(examtable.[pass_score])
				 when 'examScore' then str(userExamTable.[score])
				 when 'examOperation' then userExamTable.[operation]
			   end
		end
		asc
		,
		case @sortDirection
		when 'desc' then 
			case @sortName 
				 when 'examTitle' then  examtable.title
				 when 'examId' then str(examtable.id)
				 when 'examStartTime' then CONVERT(varchar(100),examtable.start_time) 
				 when 'examPassScore' then STR(examtable.pass_score) 
				 when 'examScore' then str(userExamTable.[score])
				 when 'examOperation' then userExamTable.[operation]
			 end
		end desc
		) rowNum
		
	FROM 
		[user_exam] userExamTable 
	    JOIN [exam] examtable 
	ON userExamTable.exam_id = examtable.id
	WHERE userExamTable.user_id = @userId
	AND
	(
		(@otherType = '')
		 or 
		((@otherType = 'finished') AND (userExamTable.score >= 0))
		or
		((@otherType = 'unFinished') AND (userExamTable.score < 0))
	)
	)
	select * from temp
	where temp.rowNum between (@currentPage - 1)*@pageSize + 1 and (@currentPage * @pageSize)
	
END
GO
/****** Object:  StoredProcedure [dbo].[procSelectStudentSelfAnswer]    Script Date: 01/04/2017 22:10:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[procSelectStudentSelfAnswer]
	@userId int, 
	@examId int
AS
BEGIN
	SELECT answer
	FROM [user_exam_question]
	WHERE 
	user_id = @userId
	AND
	exam_id = @examId
END
GO
/****** Object:  StoredProcedure [dbo].[procSelectStudentAllAnswerScore]    Script Date: 01/04/2017 22:10:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[procSelectStudentAllAnswerScore]
	@userId int, 
	@examId int
AS
BEGIN
	SELECT answer_score 
	FROM [user_exam_question]
	WHERE 
	user_id = @userId
	AND
	exam_id = @examId
	
END
GO
/****** Object:  StoredProcedure [dbo].[procSaveStudentScore]    Script Date: 01/04/2017 22:10:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[procSaveStudentScore]

	@userId int, 
	@examId int,
	@score int,
	@operation varchar(50)
AS
BEGIN
	UPDATE [user_exam]
	SET score = @score,
		operation = @operation
	WHERE
		user_id = @userId
		AND
		exam_id = @examId
END
GO
/****** Object:  StoredProcedure [dbo].[procSaveExamAnswer]    Script Date: 01/04/2017 22:10:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[procSaveExamAnswer] 
	@userId int, 
	@examId int,
	@questionId int,
	@answer int,
	@answerScore int
AS
BEGIN
	UPDATE [user_exam_question]
	SET 
	answer = @answer,
	answer_score = @answerScore
	WHERE 
		user_id = @userId 
		AND
		exam_id = @examId
		AND
		question_id = @questionId	
		
END
GO
/****** Object:  StoredProcedure [dbo].[procGetUserByUserName]    Script Date: 01/04/2017 22:10:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <20161214>
-- Description:	<getUserByUserName useing user login system>
-- =============================================
CREATE PROCEDURE [dbo].[procGetUserByUserName] 
	-- Add the parameters for the stored procedure here
	@userName varchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT
		 [id],
		 [user_id],
		 [user_name],
		 [password],
		 [gender],
		 [create_time],
		 [update_time],
		 [last_login_time],
	 	 [role_id],
		 [is_active],
		 [chinese_name],
		 [phone_number],
		 [email]
	FROM 
	    [user]
	WHERE [user_name] = @userName
	      AND
	      [is_active] = 0
END
GO
/****** Object:  StoredProcedure [dbo].[procGetTeacherExamTotalCount]    Script Date: 01/04/2017 22:10:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[procGetTeacherExamTotalCount]
	@examName varchar(500),
	@startTime varchar(50),
	@endTime varchar(50)
AS
BEGIN
	SELECT COUNT(1)
	FROM exam examTable
	WHERE 
    ((@examName = '') or (examTable.title like '%'+@examName+'%'))
	AND
	((@startTime = '' and @endTime = '') or (examTable.start_time between ''+@startTime+'' and ''+@endTime+''))
	AND
	 ((DATEDIFF(Minute,examTable.create_time, GETDATE()) > examTable.duration_time))
END
GO
/****** Object:  StoredProcedure [dbo].[procGetStudentExamTotalCount]    Script Date: 01/04/2017 22:10:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[procGetStudentExamTotalCount]
	@otherType varchar(50),
	@userId int
AS
BEGIN
	SELECT COUNT(1)
	FROM 
	[user_exam] userExamTable 
	WHERE userExamTable.user_id = @userId
	AND
	(
		(@otherType = '')
		 or 
		((@otherType = 'finished') AND (userExamTable.score >= 0))
		or
		((@otherType = 'unFinished') AND (userExamTable.score < 0))
	)

END
GO
/****** Object:  StoredProcedure [dbo].[procGetQuestionsByExamId]    Script Date: 01/04/2017 22:10:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,kevin>
-- Create date: <Create 2016-12-19,>
-- Description:	<Description,getQuestionsByExamId>
-- =============================================
CREATE PROCEDURE [dbo].[procGetQuestionsByExamId]
	@examId int 
AS
BEGIN
	
	SET NOCOUNT ON;
	
	SELECT 
	   [id]
      ,[question].[question_id]
      ,[title]
      ,[option_a]
      ,[option_b]
      ,[option_c]
      ,[option_d]
      ,[answer]
      ,[create_time]
      ,[update_time]
      ,[is_active]
  FROM [question],[exam_question]
  WhERE question.id = exam_question.question_id
  AND exam_question.exam_id = @examId
END
GO
/****** Object:  StoredProcedure [dbo].[procGetQuestionAnswerByQuestionId]    Script Date: 01/04/2017 22:10:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[procGetQuestionAnswerByQuestionId]
	@questionId int
AS
BEGIN
	SELECT answer
	FROM question
	WHERE id = @questionId
END
GO
/****** Object:  StoredProcedure [dbo].[procGetQualifiedCountByExamId]    Script Date: 01/04/2017 22:10:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[procGetQualifiedCountByExamId]
	@examId int
AS
BEGIN
	SELECT COUNT(1)
	FROM user_exam,exam
	WHERE user_exam.exam_id = exam.id
	AND 
	user_exam.score >= exam.pass_score
	AND
	exam.id = @examId
END
GO
/****** Object:  StoredProcedure [dbo].[procGetExamineeCountByExamId]    Script Date: 01/04/2017 22:10:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[procGetExamineeCountByExamId]
	@examId int
AS
BEGIN
	SELECT COUNT(1)
	FROM user_exam
	WHERE exam_id = @examId
END
GO
/****** Object:  StoredProcedure [dbo].[procGetExamByExamId]    Script Date: 01/04/2017 22:10:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[procGetExamByExamId]
	@examId int
AS
BEGIN
	SELECT 
	   [id]
      ,[exam_id]
      ,[title]
      ,[create_time]
      ,[start_time]
      ,[duration_time]
      ,[total_score]
      ,[pass_score]
      ,[sigle_score]
      ,[question_quantity]
      ,[create_user]
  FROM [oes].[dbo].[exam]
  WHERE id = @examId
END
GO
/****** Object:  StoredProcedure [dbo].[procFindNeedUpdateScoreUserIdAndExamId]    Script Date: 01/04/2017 22:10:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[procFindNeedUpdateScoreUserIdAndExamId]
	
AS
BEGIN
	SELECT user_id,user_exam.exam_id
	FROM user_exam,exam examTable
	WHERE 
		user_exam.exam_id = examTable.id
	AND
		score = -1
	AND 
		(DATEDIFF(Minute,examTable.create_time, GETDATE()) > examTable.duration_time)
	GROUP BY
		   user_exam.exam_id,user_id
END
GO
/****** Object:  StoredProcedure [dbo].[procFindNeedUpdateAvgRateExam]    Script Date: 01/04/2017 22:10:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[procFindNeedUpdateAvgRateExam]
	
AS  
BEGIN
	SELECT AVG(cast(score as float)),user_exam.exam_id
	FROM   user_exam,exam examTable
	WHERE
		user_exam.exam_id = examTable.id
	AND
		   is_need_update = 0
   
	AND 
	((DATEDIFF(Minute,examTable.create_time, GETDATE()) > examTable.duration_time))
	GROUP BY
		   user_exam.exam_id
END
GO
/****** Object:  StoredProcedure [dbo].[procFindAllStudentExamResultByExamId]    Script Date: 01/04/2017 22:10:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[procFindAllStudentExamResultByExamId]
	@sortDirection varchar(50),
	@sortName varchar(50),
	@ExamId int,
	@userName varchar(100),
	@currentPage int,
	@pageSize int
AS
BEGIN


;with temp as(
	SELECT USER_NAME,
		   pass_score,
		   score,
		   total_score,
		   operation, 
		   ROW_NUMBER() OVER (
			ORDER BY 
			case @sortDirection
				when 'asc' then 
				  case @sortName 
					 when 'userName' then  [user].[user_name]
					 when 'score' then str(user_exam.score)
					 when 'result' then user_exam.operation
				   end
			end
			asc
			,
			case @sortDirection
			when 'desc' then 
				case @sortName 
					 when 'userName' then  [user].[user_name]
					 when 'score' then str(user_exam.score)
					 when 'result' then user_exam.operation
				 end
			end desc
			) rowNum
    FROM [user],user_exam,exam
    WHERE 
		[user].id = user_exam.user_id
	AND 
	    user_exam.exam_id = exam.id
    AND 
		exam.id =  @ExamId
	AND 
	((@userName = '') or ([user].user_name like '%'+@userName+'%'))
	
) 
	select * from temp
	where temp.rowNum between (@currentPage - 1)*@pageSize + 1 and (@currentPage * @pageSize)	
		   
END
GO
/****** Object:  Default [DF__question__is_ali__014935CB]    Script Date: 01/04/2017 22:11:02 ******/
ALTER TABLE [dbo].[question] ADD  CONSTRAINT [DF__question__is_ali__014935CB]  DEFAULT ((0)) FOR [is_active]
GO
/****** Object:  Default [DF_user1_is_active]    Script Date: 01/04/2017 22:11:02 ******/
ALTER TABLE [dbo].[user] ADD  CONSTRAINT [DF_user1_is_active]  DEFAULT ((0)) FOR [is_active]
GO
/****** Object:  Default [DF_user_exam_score]    Script Date: 01/04/2017 22:11:02 ******/
ALTER TABLE [dbo].[user_exam] ADD  CONSTRAINT [DF_user_exam_score]  DEFAULT ((-1)) FOR [score]
GO
/****** Object:  Default [DF_user_exam_operation]    Script Date: 01/04/2017 22:11:02 ******/
ALTER TABLE [dbo].[user_exam] ADD  CONSTRAINT [DF_user_exam_operation]  DEFAULT ('Do it') FOR [operation]
GO
/****** Object:  Default [DF_user_exam_is_need_update]    Script Date: 01/04/2017 22:11:02 ******/
ALTER TABLE [dbo].[user_exam] ADD  CONSTRAINT [DF_user_exam_is_need_update]  DEFAULT ((0)) FOR [is_need_update]
GO
