<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>login</display-name>
  <welcome-file-list>
    <welcome-file>login.action</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.kevin.oes.servelt.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login.action</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/404.html</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/500.html</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>DashboardServlet</display-name>
    <servlet-name>DashboardServlet</servlet-name>
    <servlet-class>com.kevin.oes.servelt.DashboardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DashboardServlet</servlet-name>
    <url-pattern>/dashboard</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestServlet</display-name>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>com.kevin.oes.servelt.TestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/a</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Test2Servlet</display-name>
    <servlet-name>Test2Servlet</servlet-name>
    <servlet-class>com.kevin.oes.servelt.Test2Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test2Servlet</servlet-name>
    <url-pattern>/b</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveQuestionServlet</display-name>
    <servlet-name>SaveQuestionServlet</servlet-name>
    <servlet-class>com.kevin.oes.servelt.SaveQuestionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveQuestionServlet</servlet-name>
    <url-pattern>/saveQuestion.action</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>encode</filter-name>
    <filter-class>com.kevin.oes.filter.EncodeFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>encode</filter-name>
    <url-pattern>*.action</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>ShowQuestionServlet</display-name>
    <servlet-name>ShowQuestionServlet</servlet-name>
    <servlet-class>com.kevin.oes.servelt.ShowQuestionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowQuestionServlet</servlet-name>
    <url-pattern>/showQuestion.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditQuestion</display-name>
    <servlet-name>EditQuestion</servlet-name>
    <servlet-class>com.kevin.oes.servelt.EditQuestion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditQuestion</servlet-name>
    <url-pattern>/editQuestion.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.kevin.oes.servelt.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logoutServlet.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryServlet</display-name>
    <servlet-name>QueryServlet</servlet-name>
    <servlet-class>com.kevin.oes.servelt.QueryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryServlet</servlet-name>
    <url-pattern>/queryQuestion.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DetailQuestion</display-name>
    <servlet-name>DetailQuestion</servlet-name>
    <servlet-class>com.kevin.oes.servelt.DetailQuestion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetailQuestion</servlet-name>
    <url-pattern>/detailQuestion.action</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>SessionFilter</display-name>
    <filter-name>SessionFilter</filter-name>
    <filter-class>com.kevin.oes.filter.SessionFilter</filter-class>
    <init-param>
      <param-name>notNeedLoginPage</param-name>
      <param-value>,login.action</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>SessionFilter</filter-name>
    <url-pattern>*.action</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteQuestion</display-name>
    <servlet-name>DeleteQuestion</servlet-name>
    <servlet-class>com.kevin.oes.servelt.DeleteQuestion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteQuestion</servlet-name>
    <url-pattern>/deleteQuestion.action</url-pattern>
  </servlet-mapping>
</web-app>